
body{
  background-color: #DFDFDF;
  font-family: Arial, Helvetica, sans-serif;
  color: #2C3E50;
  padding: 20px 50px;
}
.container{
  background: #fff;
  margin-top: 1em;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
 }
.image-container {
    display: flex;
gap: 20px;
  }

  img {
    width: 400px;
    margin-bottom: 10px;
  }


  .data-item{
    margin-top: 30px;
  }

  .data-item label {
    color: #20b2aa;
    font-weight: 700
  }

  .data-item span {
    color: #2C3E50;
    font-weight: 600
  }

  .github-link {
    text-align: center;
  }
  
  button{
    text-align: center;
    background-color: #20b2aa;
    border: #20b2aa;
    padding: 10px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 991px) {
    .image-container {
      display: block;
    }

    img {
      width: 100%;
    }
  }